* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav ul {
	background-color: black;
	display: flex;
	justify-content: center;
	list-style: none;
	gap: 5em;
	padding: 2em;
}
nav ul li .btn {
	border-radius: 10px;
	background-color: #b7410e;
	cursor: pointer;
	color: white;
	padding: 1em;
	font-size: 1.2em;
}
nav ul li .btn:hover {
	background-color: #ff7f50;
}

nav ul li .btn.active {
    background-color: #8f2a2a;
    box-shadow: inset 0 3px 5px rgb(0, 0, 0);
}